{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="card">
    <h2>Login</h2>

    <form action="#" method="POST">
        {% csrf_token %}
      <label for="username">Username</label>
      <input id="username" name="username" type="text" placeholder="Enter username" required />

      <label for="password">Password</label>
      <input id="password" name="password" type="password" placeholder="Enter password" required />

      <button class="btn" type="submit">Login</button>

      <p class="small">
        Don’t have an account? <a href="{% url 'register' %}">Register</a>
      </p>
    </form>
  </div>
{% endblock content %}